@charset 'UTF-8';
@use "../../global" as *;

// -----------------------
// Break
// -----------------------

.u-wbr {
  display: block;
}

@include mq(sm) {
  .u-wbr.-sm {
    display: inline;
  }
}

@include mq(md) {
  .u-wbr.-md {
    display: inline;
  }

  .sp-br {
    display: none;
  }
}

@include mq(lg) {
  .u-wbr.-lg {
    display: inline;
  }
}

@include mq(xl) {
  .u-wbr.-lg {
    display: block;
  }
}
