@charset 'UTF-8';
@use "../../global" as *;

// -----------------------
// Break
// -----------------------

.u-wbr {
  display: block;
}

@include mq(md) {
  .u-wbr.-md {
    display: inline;
  }
}

@include mq(lg) {
  .u-wbr.-lg {
    display: inline;
  }
}
