@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

// loding
.p-loading {
  position: fixed;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background-color: $whiteGray;
  animation: fadeOut 0.2s linear 3s both;

  .is-useJs & {
    animation: none;
  }

  .is-loaded & {
    opacity: 0;
    visibility: hidden;
  }

  &_animate {
    color: $darkGray;
    font-size: pxToRem(40);
    letter-spacing: .04em;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & span {
      display: inline-block;
      @include animation($name: loading,
        $duration: 3s,
        $timing-function: liner,
        $iteration-count: infinite,
        $delay: 1s,
        $fill-mode: forwards);

      @for $i from 1 through 8 {
        &:nth-child(#{$i}) {
          animation-delay: $i * .16s;
        }
      }
    }
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes loading {

  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(-13%);
  }

  20%,
  100% {
    transform: translateY(0);
  }
}
