@charset 'UTF-8';
@use "sass:math";
@use "../../../global" as *;

// title
.p-hero {

  &__title.is-inview {

    // 上からフェードイン
    & .char {
      // 半角スペースを開けてるから子要素の指定になる
      display: inline-block; // translateが無視されてしまう
      // transformはインライン要素では効かない
      @include title-animation($name: title-kf, //keyframesの名前を入れる
        $duration: 0.7s, // アニメーションの間隔
        $timing-function: ease-in-out,
        // cubic-bezier(0.39, 1.57, 0.58, 1),
        $fill-mode: both // アニメーションの状態を維持する
      );

      @for $i from 1 through 11 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.08s;
        }
      }
    }
  }

  &__lead {
    opacity: 0;
    animation: read-kf 1.2s ease-in 0.7s forwards;
  }
}

// title-kf
@keyframes title-kf {

  // 初めの状態
  0% {
    opacity: 0; // 文字列が表示されていない状態にする
    transform: translateY(-50%); // もとある位置から上に50%ずれた状態
  }

  100% {
    opacity: 1;
    transform: translateY(0); // 上から下の場所に降りてくる
  }
}

// read-kf

@keyframes read-kf {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
