@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

.p-list__photo {
  &.is-scroll img {
    @include animation ($name: color,
      $duration: 0.7s,
      $fill-mode: both);
  }
}

@keyframes color {
  0% {
    filter: grayscale(100%);
  }

  100% {
    filter: grayscale(0);
  }
}

@include mq(lg) {
  .p-list__photo {
    &.is-scroll img {
      animation: none;
    }
  }
}
