@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

// heading
.p-animate {
  & span {
    opacity: 0;
  }

  &.is-scroll {

    // heading
    & span {
      display: inline-block;
      @include animation($name: text,
        $duration: 0.2s,
        $timing-function: liner,
        $fill-mode: both);

      @for $i from 1 through 9 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.09s;
        }
      }
    }

    // last-copy
    &.-copy {
      & span {
        display: inline-block;
        @include animation($name: copy,
          $duration: 0.4s,
          $fill-mode: both);

        @for $i from 1 through 27 {
          &:nth-child(#{$i}) {
            animation-delay: $i * 0.07s;
          }
        }
      }
    }
  }
}

// text
@keyframes text {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes copy {
  0% {
    opacity: 0;
    transform: translateY(-7%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
