@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

// Footer
// -----------------


.p-footer {
  background-color: $darkGray;
  font-weight: bold;
  letter-spacing: .04em;

  &__photo {
    position: relative;
    z-index: 3;
    margin-top: -188px;
  }

  &__text {
    color: $white;
    font-size: pxToRem(21);
    font-weight: bold;
    line-height: 2;
    text-align: center;
    letter-spacing: .04em;
  }

  &__logo {
    color: $white;
    font-size: pxToRem(24);
  }

  &__title {
    color: $white;
    font-size: pxToRem(10);
    padding-top: .5rem;
  }

  &__address {
    padding-bottom: 1rem;

    &-mail {
      display: inline-block;
      height: 100%;
      color: $white;
      font-size: pxToRem(16);
      font-style: normal;
      text-decoration: none;
    }
  }

  &__social {
    display: inline-block;
    height: 100%;
  }

  &__copy {
    color: $white;
    font-size: pxToRem(10);
  }
}

@include mq(md) {
  .p-footer {
    &__photo {
      margin-top: -220px;
    }

    &__address {
      margin-right: 1rem;
      padding-bottom: 0;
    }

    &__copy {
      text-align: right;
    }
  }
}

@include mq(lg) {


  .p-footer {
    &__photo {
      margin-top: -200px;
    }

    &__text {
      font-size: pxToRem(28);
    }

    &__logo {
      font-size: pxToRem(48);
      letter-spacing: .05em;
    }

    &__title {
      font-size: pxToRem(12);
    }
  }
}

@include mq(xl) {
  .p-footer {
    &__text {
      font-size: pxToRem(32);
    }
  }
}
