@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

// Hamburger
// -----------------
.p-hamburger {
  width: 40px;
  height: 40px;
  border: 0;
  padding: 0;

  &__btn {
    position: relative;
    display: inline-block;
    z-index: 10;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $black; // 白
    border: 2px solid $white; // 黒
    box-shadow: 0 0 3rem transparent;
    transition: box-shadow 0.5s ease-in-out;

    &:hover,
    &:focus {
      box-shadow: 0 0 .5rem rgba(230, 230, 230, 0.3);
      background-color: $white; // 黒
    }


    &-line {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 18px;
      height: 2px;
      margin: auto;
      background-color: $white; // 黒

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: inherit;

        &:hover {
          background-color: inherit;
        }
      }

      &::before {
        top: -5px;
      }

      &::after {
        top: 5px;
      }
    }

    &:hover>.p-hamburger__btn-line,
    &:hover>.p-hamburger__btn-line::before,
    &:hover>.p-hamburger__btn-line::after {
      background-color: $black; // 白
    }
  }
}

// hamburger
.is-active-btn.is-active-hamburger {

  &>.p-hamburger__btn {
    background-color: $black;
  }

  &.p-hamburger:hover .p-hamburger__btn,
  &.p-hamburger:focus .p-hamburger__btn {
    background-color: $white;
  }

  .p-hamburger__btn-line {
    background-color: inherit;

    &::before,
    &::after {
      background-color: $white; // 黒
    }

    &::before {
      animation: active-topLine 0.5s ease-in-out forwards;
    }

    &::after {
      animation: active-bottomLine 0.5s ease-in-out forwards;
    }
  }

  .p-hamburger>&:hover .p-hamburger__btn-line::before,
  .p-hamburger>&:hover .p-hamburger__btn-line::after {
    background-color: $black;
  }
}

@keyframes active-topLine {

  0% {
    transform: rotate(0);
    top: -5;
  }

  60% {
    transform: rotate(0);
    top: 0;
  }

  100% {
    transform: rotate(45deg);
    top: 0;
  }
}

@keyframes active-bottomLine {

  0% {
    transform: rotate(0);
    top: 5px;
  }

  60% {
    transform: rotate(0);
    top: 0;
  }

  100% {
    transform: rotate(-45deg);
    top: 0;
  }
}

.is-active-btn .p-hamburger__btn-line {

  &::before {
    animation: topLine 0.6s ease-in-out forwards;
  }

  &::after {
    animation: bottomLine 0.6s ease-in-out forwards;
  }
}

// ハンバーガー閉じる時
@keyframes topLine {

  0%,
  50% {
    transform: rotate(0);
    top: 0;
  }

  100% {
    transform: rotate(0);
    top: -5;
  }
}

@keyframes bottomLine {

  0%,
  50% {
    transform: rotate(0);
    top: 0;
  }

  100% {
    transform: rotate(0);
    top: 5;
  }
}

@include mq(lg) {
  .p-hamburger {
    display: none;
  }
}
