@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

// Hero
// -----------------
.p-hero {
  &__title {
    font-size: pxToRem(46);
    letter-spacing: .04em;
    line-height: calc(54 / 44);
  }

  &__lead {
    padding: pxToRem(24) 0 pxToRem(40);
    font-size: pxToRem(14);
    font-weight: bold;
    letter-spacing: .04em;
    line-height: calc(28 / 14);
  }


  &__bg {
    margin: 0 -5vw;
    padding: pxToRem(60) 0;
    background-color: $black;

    & .olex {
      flex-wrap: nowrap;
    }
  }

  &__text-area {
    margin-bottom: pxToRem(108);
  }

  &__photo img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
  }
}

@include mq(sm) {
  .p-hero {
    &__title {
      font-size: pxToRem(60);
    }
  }
}

@include mq(md) {
  .p-hero {
    &__title {
      font-size: pxToRem(80);
    }

    &__lead {
      font-size: pxToRem(16);
    }
  }
}


@include mq(lg) {
  .p-hero {
    &__bg {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50vw;
      margin: -148px 0 0;
      padding: 148px 0 0;
      background-color: $darkGray;
      mix-blend-mode: multiply;
    }

    &__title {
      font-size: pxToRem(58);
      line-height: calc(70 / 58);
    }

    &__lead {
      padding: pxToRem(64) pxToRem(28) pxToRem(48) 0;
    }

    &__text-area {
      margin-bottom: pxToRem(88);
    }
  }
}

@include mq(xl) {
  .p-hero {
    &__title {
      font-size: pxToRem(72);
      line-height: calc(87 / 72);
    }
  }
}
